---
layout: home
---


<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
    <div class="w3-display-middle" style="white-space:nowrap;">
        <!--span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">J&amp;J Trekking</span-->
        <h1>
            <img style="width:100%" src="/img/jjtrekking-logo.png" alt="J&amp;J Trekking">
        </h1>
    </div>
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-32" id="about">
  <p class="w3-center w3-large"><em>La montagna è fatta per tutti, non solo per gli alpinisti: <br />
      per coloro che desiderano il riposo nella quiete <br />
      come per coloro che cercano nella fatica un riposo ancora più forte.</em></p>
  <p class="w3-center w3-medium"><em>Guido Rey</em></p>
</div>

<!-- Container (Tracks Section) -->
<div class="w3-content w3-container w3-padding-32" id="tracks">
    <h3 class="w3-center w3-xxlarge w3-wide">ITINERARI</h3>
</div>

{% assign tracks = site.tracks %}
{% assign groups = tracks | group_by: "gruppo" | sort: "nome" %}

<!-- Container (Tracks Section) -->

{% for group in groups %}

    <div class="w3-content w3-container w3-padding-32" style="max-width:1280px" id="tracks-{{ group.name }}">

        <div class="w3-card-2 w3-margin">
            <!-- Parallax Image with Group Text -->
            <div class="bgimg-2 w3-display-container w3-opacity-min w3-greyscale-min" style="background-image: url('/img/{{ group.name | slugify }}.jpg')">
                <div class="w3-display-middle" style="width:80%;">
                    <h3 class="w3-center w3-padding-large w3-xlarge w3-text-white w3-wide" style="font-weight:700;text-transform:uppercase;">{{ group.name }}</h3>

                </div>
            </div>

            <!-- List of Items in Group -->
            <ul class="w3-ul w3-hoverable w3-white">
                {% for item in group.items %}
                    <li class="w3-padding-16 w3-hover-light-grey">
                        <a class="jj-noline" href="{{ site.url }}/itinerari/{{ group.name | slugify }}/{{ item.nome | slugify }}" title="{{ item.nome }}">
                            <h4 class="w3-large">{{ item.nome }}</h4>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endfor %}
