---
layout: home
---


<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">J&amp;J Trekking</span>
  </div>
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <p class="w3-center w3-xlarge"><em>La montagna è fatta per tutti, non solo per gli alpinisti: <br />
      per coloro che desiderano il riposo nella quiete <br />
      come per coloro che cercano nella fatica un riposo ancora più forte.</em></p>
</div>

<!-- Container (Tracks Section) -->
<div class="w3-content w3-container w3-padding-64" id="tracks">
    <h3 class="w3-center">ITINERARI</h3>
</div>

{% assign tracks = site.tracks %}
{% assign groups = tracks | group_by: "gruppo" | sort: "nome" %}

<!-- Container (Tracks Section) -->

{% for group in groups %}
    <!-- Parallax Image with Group Text -->
    <div class="bgimg-2 w3-display-container w3-opacity-min" style="background-image: url('/img/{{ group.name | slugify }}.jpg')">
        <div class="w3-display-middle">
            <h3 class="w3-xxlarge w3-text-white w3-wide">{{ group.name }}</h3>
        </div>
    </div>
    <div class="w3-content w3-container w3-padding-64" style="max-width:1280px" id="tracks-{{ group.name }}">
        <div class="w3-row-padding">
            {% for item in group.items %}
                <div class="w3-third w3-section">
                    <div class="w3-card-2">
                        <a href="{{ site.url }}/itinerari/{{ group.name | slugify }}/{{ item.nome | slugify }}" title="{{ item.nome }}">
                            <img src="{{ site.url }}/img/{{ group.name | slugify }}.jpg" style="width:100%" alt="{{ group.name }}">
                        </a>
                        <div class="w3-container w3-white">
                            <h4>
                                <a class="jj-noline" href="{{ site.url }}/itinerari/{{ group.name | slugify }}/{{ item.nome | slugify }}" title="{{ item.nome }}">
                                {{ item.nome }}
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}
